<html>
<head><title>{{examname}}</title>
<link rel = "icon" href = "/static/img/logo.png" type = "image/x-icon">
<link rel="stylesheet" href="/static/css/dist/dark.min.css">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{{css}}">
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<script src="/static/js/main.js"></script>
<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<center>
<h1>{{examname}}</h1>
<h3>{{teacher}}</h3>
<h3>{{numquestions}} Questions</h3>
<br>
<fieldset><legend>Information</legend>{{message|safe}}</fieldset><br>
<form id="exam" action="/student/exam/{{examkey}}" method="POST">
<input readonly type="text" id="starttime" name="starttime" value="{{starttime}}" autocomplete="off" style="display:none;">

<input readonly type="number" id="focuscheck" name="focuscheck" value="0" style="display:none;">

<fieldset><legend>General</legend><input readonly type="text" id="name" name="name" placeholder="Name..." value="{{name}}" autocomplete="off"><input readonly type="email" id="email" name="email" placeholder="Email..." autocomplete="off" value="{{email}}"></fieldset>
{% for i in range(0,qList|length): %}
<fieldset>
<legend>Question {{i+1}}</legend>
{{qList[i]|safe}}
<br><br>
<input type="text" id="q{{i+1}}" name="q{{i+1}}" placeholder="Answer..." autocomplete="off">
</fieldset>
{% endfor %}
<input type="submit" value="Submit">
</form>
</center>



{% if des: %}
<div class="icon-bar">
  <p id="timer" class="timerfix"></p> 
</div>
<script>
var countDownDate = new Date("{{duetime}}").getTime();

var x = setInterval(function() {

  var now = new Date().getTime();

  var distance = countDownDate - now;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  if (days < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "-";  
    //document.forms[0].submit()
    document.getElementById('exam').submit(); 
  }

  else {
        document.getElementById("timer").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";      
  }

}, 1000);
</script>
{% endif %}
</body>
</html>