<html>
<head><title>Exam at wizdeveloper.com - Free and reliable way of hosting exams digitally</title>
<link rel = "icon" href = "/static/img/logo.png" type = "image/x-icon">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="exam.wizdeveloper.com is an extremely reliable and secure way of hosting exams. With features including statistics, tracking focus and times tests, it is the ideal way to host online exams. To add to that, it is 100% free!">
<meta name="keywords" content="Online exam,  free exam maker, online exam, wizdeveloper, wizdeveloper.com, free exam, reliable exam, best exam creator, digital exam, secure exam platform"/>
<link rel="stylesheet" href="/static/css/dist/dark.min.css">
</head>
<body>
<center>
<img src="/static/img/logo.png" height="200" width="200"><br><br>
<a href="/student/exam"><button><h1>Student</h1></button></a>
<a href="/teacher"><button><h1>Teacher</h1></button></a>
<br><br>
<a href="/guide"><button style="background-color: #C4E9F3;"><h2 style="color: black;">Guide/Features</h2></button></a>
<br><br>

<div dir="auto" class="css-901oao r-1n6ksnv r-jwli3a r-jgcjvd r-1sp51qo r-13qz1uu" style="border-width: 0px 0px 0px 7px; border-style: solid; border-color: black black black rgb(255, 255, 255); border-image: initial; box-sizing: border-box; color: rgb(255, 255, 255); display: inline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 14px; line-height: normal; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif; margin: 10px; padding: 10px; white-space: pre-wrap; overflow-wrap: break-word; width: 248px; background-color: #7289da; border-radius: 10px;">Made by Suhaan (shabbily)</div>
  
<!--<button type="button" id="dialog-trigger"> Show me the dialog! </button> <span id="dialog-result"></span> </div> <dialog id="dialog"> <header>This is a sample dialog</header> <form method="dialog"> <p>What is your favorite pet animal?</p> <menu> <button value="feline">Cats</button> <button value="canine">Dogs</button> <button value="other">Others</button> </menu> </form> </dialog>
<script>
document.getElementById("dialog-trigger").addEventListener("click",(function(){document.getElementById("dialog-result").innerText="",document.getElementById("dialog").showModal()})),document.getElementById("dialog").addEventListener("close",(function(e){document.getElementById("dialog-result").innerText="Your answer: ".concat(e.target.returnValue)}));
</script>-->
</center>
</body>
</html>