<html>
<head><title>Statistics - {{examkey}}</title>
<link rel = "icon" href = "/static/img/logo.png" type = "image/x-icon">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/css/dist/dark.min.css">
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<script src="/static/js/chart.min.js"></script>
</head>
<body>
<center>
<h1 style="display: inline-block;">Statistics - {{examkey}}</h1>
<a href="/teacher/dashboard/responses/{{examkey}}"><button style="background-color: #C4E9F3; color: black;">Responses</button></a>
<!--<br>
<br>
<p>Highest Score: {{highest}}/{{m}}<br>Average: {{avg}}/{{m}}<br>Lowest Score:  {{lowest}}/{{m}}<br>Total Responses: {{res}}<br>Median Score: {{median}}/{{m}}</p>-->
<br>
<br>
<details>
<summary>Question Difficulty</summary>
<canvas id="qdiff" width="600" height="400"></canvas>

<script>
// Global parameters:
// resizes the chart canvas when its container does
Chart.defaults.global.responsive = true;
 
// define the chart data
var chartData = {
labels : [{% for item in labels1 %}
"{{item}}",
{% endfor %}],
datasets : [{
label: '{{ legend1 }}',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,
data : [{% for item in values1 %}
{{item}},
{% endfor %}],
spanGaps: false
}]
}
 
// get chart canvas
var ctx = document.getElementById("qdiff").getContext("2d");
 
// create the chart using the chart canvas
var myChart = new Chart(ctx, {
type: 'line',
data: chartData,
options: {
  scales: {
    yAxes: [{
        ticks: {
          suggestedMin: 0,
          stepSize: 1,
          suggestedMax: {{totalres}}
        }
    }]
  }
}
});

</script>
</details>


<details>
<summary>Scores</summary>
<canvas id="scores" width="600" height="400"></canvas>


<script>
// Global parameters:
// resizes the chart canvas when its container does
Chart.defaults.global.responsive = true;
 
// define the chart data
var chartData2 = {
labels : [{% for item in labels2 %}
"{{item}}",
{% endfor %}],
datasets : [{
label: '{{ legend2 }}',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,
data : [{% for item in values2 %}
{{item}},
{% endfor %}],
spanGaps: false
}]
}
 
// get chart canvas
var ctx = document.getElementById("scores").getContext("2d");
 
// create the chart using the chart canvas
var scores = new Chart(ctx, {
type: 'bar',
data: chartData2,
options: {
  scales: {
    yAxes: [{
        ticks: {
          suggestedMin: 0,
          stepSize: 1,
          suggestedMax: {{totalres}}
        }
    }]
  }
}
});

</script>
</details>

<details>
<summary>Question Wise</summary>
{% for i in range(0,dallqs|length): %}
<details>
<summary>Question {{i+1}}</summary>
<canvas id="q{{i+1}}" width="600" height="400"></canvas>

<script>
// Global parameters:
// resizes the chart canvas when its container does
Chart.defaults.global.responsive = true;
 
// define the chart data
var chartDataq{{i+1}} = {
labels : [{% for item in fallqs[i]: %}
"{{item}}",
{% endfor %}],
datasets : [{
label: 'Number of people who chose the answer',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,
data : [{% for item in mallqs[i]: %}
{{item}},
{% endfor %}],
spanGaps: false
}]
}
 
// get chart canvas
var ctx = document.getElementById("q{{i+1}}").getContext("2d");
 
// create the chart using the chart canvas
var q{{i+1}} = new Chart(ctx, {
type: 'bar',
data: chartDataq{{i+1}},
options: {
  scales: {
    yAxes: [{
        ticks: {
          suggestedMin: 0,
          stepSize: 1,
          suggestedMax: {{totalres}}
        }
    }]
  }
}
});

</script>
</details>
{% endfor %}
</details>

</center>
</body>
</html>